.jumbo-text {
    font-family: 'Righteous', cursive;
    font-size: 5vw; /* 80px */
}
.info-text {
    font-family: 'Righteous', cursive;
    font-size: 2vw; /* 20px */
}
.bg-img {
    position: fixed;
    height: 300px;
}
.start-btn {
    height: 75px;
    width: 75px;
}
.projectCard {
    width: 25rem;
    /* 25rem */
}
